.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
 
}

header {
  color: #7f7f7f;
  width: 100%;
  background-color: #010101;
  margin-bottom: 40px;
}

.card {
  width: 50%;
  max-width: 80%;
  text-align: left;
  padding: 20px;
}

.card h2 {
  text-align: center;
}

form {
  margin-bottom: 40px;
}

.btn {
  background-color: #3a3636;
  border: #010101;
}

.btn:hover {
  background-color: #010101;
}
.btn:focus {
  background-color: #010101;
}
.btn::shadow {
  background-color: #010101;
}