ol {
  background-color: yellow;
}

ol .par {
  color: green;
}

ol .impar {
  text-transform: uppercase;
}

h1 {
  color: red;
}

h3 {
  color: red;
}

h1 em {
  size: 40px;
  border: 1px solid black;
}

li {
  size: 20px;
}

li em {
  font-weight: bold;
}

.tres {
  color: blue;
}

.java {
  background-color: pink;
}

.stack :hover {
  color: orange;
}
.w3 :hover {
  color: green
}
.mozilla :hover {
  color: black
}
.devdocs :hover {
  color: yellow;
}
.betrybe :hover {
  color: green;
}