.super-mario {
  width: 120px;
  position: absolute;
    z-index: 1;
  left: 400px;
  
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  top: 380px;
  left: 400px;
}

.baloon {
  position: absolute;
  z-index: 3;
  right: 300px;
}

.speech {
  font-size: 25px;
  position: absolute;
  z-index: 4;
  top: 130px;
  right: 350px;
}

.bowser {
  width: 200px;
  position: absolute;
  z-index: 5;
  top: 200px;
  right: 100px;
}

