* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: rgb(221, 221, 221);
    font-family: Epilogue,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #29313d;
    margin: 0px;

}
header {
  color: rgb(221, 221, 221);
  background-color: #036b52;
  width: 100%;
  padding-bottom: 1px;
  margin: 0px auto;
}

form {
  background-color: #036b52;
  color: rgb(221, 221, 221);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px 5px 15px rgb(150, 150, 150);
  
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

#date{
  width: 30%;
  color: #29313d;
}